<div class="p-8 bg-white rounded-lg max-w-md mx-4">
  <h2 class="text-3xl font-bold mb-6 text-center text-indigo-600">Sign In</h2>
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="space-y-6">
    <div>
      <mat-form-field class="w-full">
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          id="username"
          formControlName="username"
          required
        />
        <mat-error *ngIf="signinForm.get('username')?.hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          id="password"
          formControlName="password"
          required
        />
        <mat-error *ngIf="signinForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="errorMessage" class="text-red-500 text-sm text-center">
      {{ errorMessage }}
    </div>
    <div class="flex justify-between items-center">
      <button
        type="button"
        (click)="closeDialog()"
        class="px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      >
        Cancel
      </button>
      <button
        type="submit"
        [disabled]="!signinForm.valid"
        class="px-6 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:opacity-50 disabled:cursor-not-allowed"
      >
        Sign In
      </button>
    </div>
    <div class="text-center mt-4">
      <a href="#" class="text-sm text-indigo-600 hover:text-indigo-500"
        >Forgot your password?</a
      >
    </div>
  </form>
</div>
