<div class="dialog-container">
  <!-- Centered Title -->
  <h2 class="text-center text-xl font-medium mb-2">
    Reviews for {{ data.book.bookTitle }}
  </h2>
  <!-- Reviews Section -->
  <div class="space-y-3">
    @if (getSizeOfReviews() === 0) {
    <h3 class="text-red-500 text-center text-md font-medium mb-2">
      No Review for the Book
    </h3>
    }
    @for (review of data.book.reviews; track review.bookReviewId) {
    <div class="review-item">
      <div class="flex items-center justify-between mb-2">
        <!-- Review Title -->
        <h3 class="text-md font-medium text-gray-900">
          {{ review.bookReviewTitle }}
        </h3>

        <!-- Star Rating -->
        <div class="flex gap-1">
          @for (star of getStarArray(review.bookReviewRating); track $index) {
          <svg
            [class.text-yellow-400]="star === 1"
            [class.text-gray-200]="star === 0"
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            />
          </svg>
          }
        </div>
      </div>

      <!-- Review Content -->
      <p class="text-gray-600 mb-1 text-sm">
        {{ review.bookReview }}
      </p>

      <!-- Reviewer Info -->
      <!-- Author Section: Fixed height -->
      <div class="author-container mb-3">
        <p class="text-teal-500 text-sm">
          <button
            (click)="closeDialog()"
            mat-button
            [routerLink]="['/author', review.author.id]"
            routerLinkActive="router-link-active"
            class="py-2 hover:bg-gray-50 transition-colors"
          >
            {{ review.author.name }}
          </button>
        </p>
      </div>
    </div>
    }
  </div>

  <!-- Close Button -->
  <div class="flex justify-end mt-3">
    <button
      (click)="closeDialog()"
      class="px-6 py-2 border rounded-md hover:bg-gray-100 transition-colors duration-200 text-gray-700"
    >
      Close
    </button>
  </div>
</div>
