<header class="bg-white shadow-md">
  <div class="container mx-auto px-4 py-4 flex items-center justify-between">
    <a href="/" class="text-2xl font-bold text-gray-800">Book Gallery</a>
    <nav>
      <ul class="flex space-x-4">
        <li><a href="/" class="text-gray-600 hover:text-gray-800">Home</a></li>
        <li>
          <a href="/books" class="text-gray-600 hover:text-gray-800">Books</a>
        </li>
        <li>
          <a href="/authors" class="text-gray-600 hover:text-gray-800"
            >Authors</a
          >
        </li>
        @if (isSignedIn) {
        <ng-container>
          <li>
            @if (!isLoading) {
            <button
              (click)="navigateToProfile()"
              class="text-gray-600 hover:text-gray-800"
            >
              {{ authorName || "userName" }}
            </button>
            } @if (isLoading) {
            <p class="text-gray-600 hover:text-gray-800">Loading....</p>
            }
          </li>
          <li>
            <button
              (click)="signOut()"
              class="text-gray-600 hover:text-red-400"
            >
              Sign Out
            </button>
          </li>
        </ng-container>
        } @if (notSignedIn) {
        <ng-container>
          <li>
            <button
              (click)="openSigninDialog()"
              class="text-gray-600 hover:text-green-500"
            >
              Sign In
            </button>
          </li>
          <li>
            <button
              (click)="openCreateUserDialog()"
              class="text-gray-600 hover:text-red-500"
            >
              Sign Up
            </button>
          </li>
        </ng-container>
        }
      </ul>
    </nav>
  </div>
</header>
