<header class="bg-white shadow-md" style="background-color: #e1eff0;">
  <div class="container mx-auto px-4 py-4 flex items-center justify-between">
    @if (!isSignedIn) {
      <a href="/" class="text-2xl font-bold text-gray-800" >Book Gallery</a>
    }@else {
      <a href="/books" class="text-2xl font-bold text-gray-800" >Book Gallery</a>
    }
    <nav>
      <ul class="flex space-x-4">
        @if (isSignedIn) {
          <li><a routerLink="/books" class="text-gray-600 hover:text-gray-800">Home</a></li>
        }
        @if (isSignedIn) {
        <ng-container>
          <li>
            <a routerLink="/books" class="text-gray-600 hover:text-gray-800">Books</a>
          </li>
          <li>
            <a routerLink="/authors" class="text-gray-600 hover:text-gray-800"
              >Authors</a
            >
          </li>
          <li>
            @if (!isLoading) {
            <button
              (click)="navigateToProfile()"
              class="text-gray-600 hover:text-gray-800"
            >
              {{ authorName || "Unknown" }}
            </button>
            } @if (isLoading) {
            <p class="text-gray-600 hover:text-gray-800">Loading....</p>
            }
          </li>
          <li>
            <button
              (click)="signOut()"
              class="text-gray-600 hover:text-red-400"
            >
              Sign Out
            </button>
          </li>
        </ng-container>
        } @if (notSignedIn) {
        <ng-container>
          <li>
            <button
              (click)="openSigninDialog()"
              class="text-gray-600 hover:text-green-500"
            >
              Sign In
            </button>
          </li>
          <li>
            <button
              (click)="openCreateUserDialog()"
              class="text-gray-600 hover:text-red-500"
            >
              Sign Up
            </button>
          </li>
        </ng-container>
        }
      </ul>
    </nav>
  </div>
</header>
